[credential "https://github.com"]
	username = raltman2_uhg
[credential "https://github.com/Open-Lens"]
	username = inquinity
[credential "https://github.com/inquinity"]
	username = inquinity
[user]
	name = Robert Altman
	email = robert.altman@optum.com
[core]
	excludesfile = ~/.gitignore_global
[diff]
	tool = bc
[merge]
	tool = bc
[difftool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\"
	path = -ro
[mergetool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true
[mergetool "bc"]
	trustExitCode = true
[commit]
	template = ~/.stCommitMsg
[alias]
	co = checkout
	sw = switch
	br = branch
	ci = commit
	st = status
	last = log -l HEAD --
	alias = config --get-regexp ^alias\\.
	unstage = restore --staged
	undo = reset --soft HEAD~1
	changes = diff
	incoming = "!git remote update -p; git log ..@{u}"
	outgoing = log @{u}..
	vdiff = difftool -y
	origin = config --get remote.origin.url
	cp = cherry-pick
	purge = !git reflog expire --expire=now --all && git gc --prune=now --aggressive
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[http]
	postBuffer = 524288000
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
